services:
  rmu_nav:
    build: .
    # 替换为你构建好的镜像名称
    image: rm_pka_nav:latest
    container_name: rm_pka_nav
    
    # 1. 挂载目录：保持代码同步和硬件访问
    volumes:
      - ./src:/root/ros_ws/src
      - /dev:/dev
      - $HOME/.ros:/root/.ros

    network_mode: "host"
    privileged: true

    environment:
      - DISPLAY=${DISPLAY}
      - QT_X11_NO_MITSHM=1
      # --- 新增：NVIDIA 环境变量 ---
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=all  # 必须开启 all 或包含 graphics，否则无法渲染 3D

    # --- 新增：GPU 穿透核心配置 ---
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu, utility, graphics] # 这里的 graphics 是 Gazebo 不卡的关键

    stdin_open: true
    tty: true
